extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(class='layout-grid')
    div(class='side-nav')
      ul
        h3 Genre
        if genres.length
            each genre in genres
               a(href=genre.url) #{genre.name}
        else
          p There are no genres.
      ul 
        h3 Decade  
        a(href=`/catalog/year/1950`) 1950
        a(href=`/catalog/year/1960`) 1960
        a(href=`/catalog/year/1970`) 1970
        a(href=`/catalog/year/1980`) 1980
        a(href=`/catalog/year/1990`) 1990
        a(href=`/catalog/year/2000`) 2000
      ul
        h3 Format 
        a Single 
        a Album
    div(class='record-grid')
      h1= title
      if recordCopies.length
        ul
          each recordCopy in recordCopies
            a(href=recordCopy.url)
              li
                img(src=recordCopy.record.img, alt='Description of the image')
                p #{recordCopy.record.title}
                p #{recordCopy.record.year}
                p £#{recordCopy.price}
      else
        p There are no records in this #{filterType}.
        br
        a.btn.light-red(href=`/catalog/${filterType}/${id}/delete`) Delete?
    
