extends layout

block content
  div(class='layout-grid')
    div(class='side-nav')
      ul
        h3 Genre
        a Rock
        a Pop 
        a Electronic
        a All
      ul
        h3 Format 
        a Single 
        a Album 
        a 12"
        a All
      ul 
        h3 Country 
        a UK 
        a USA 
        a France 
        a All 
      ul 
        h3 Year 
        a 2020
        a 2010
        a 2000
        a All
    div(class='record-grid')
      h1= title
      if record_list.length
        ul
          each record in record_list
            li
              img(src=record.img, alt='Description of the image')
              p #{record.title}
              p #{record.artist.name}
              p #{record.genre.name}
              p #{record.year}
      else
        p There are no books.
    
