extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(class='layout-grid')
    div(class='side-nav')
      div
        h3 Genre
        ul
          if genres.length
              each genre in genres
                a(href=genre.url) #{genre.name}
          else
            p There are no genres.
      div 
        h3 Decade
        ul  
          a(href=`/catalog/year/1950`) 1950
          a(href=`/catalog/year/1960`) 1960
          a(href=`/catalog/year/1970`) 1970
          a(href=`/catalog/year/1980`) 1980
          a(href=`/catalog/year/1990`) 1990
          a(href=`/catalog/year/2000`) 2000
      div 
        h3 Artist
        ul 
          - var alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
            each letter in alphabet
              a(href=`/catalog/artists/${letter}`)= letter
    div(class='result-grid')
      div.flex
        h1= title
        if filterType === "genre"
          a.sml-btn.light-green(href=`/catalog/${filterType}/${id}/update`) Update
        if filterType === "artist"
          a.sml-btn.light-green(href=`/catalog/${filterType}/${id}/update`) Update  
      case listType 
        when "artist"
          if artists.length 
            div.flex
              ul.artist-list
                each artist in artists 
                  a(href=artist.url) #{artist.name}
          else 
            p.flex No artists in #{firstLetter}, add new artist?
            br
            a.flex.btn.light-green(href='/catalog/artist/create') New Artist
        default
          if recordCopies.length
            li.top 
                h3 Cover art
                h3 Title
                h3 Condition 
                h3 Price
                h3 Link
            ul
              each recordCopy in recordCopies
                li
                  img(src=recordCopy.record.img, alt='Description of the image')
                  p #{recordCopy.record.title}
                  p #{recordCopy.condition}
                  p £#{recordCopy.price}
                  p
                    a.sml-btn.light-green(href=recordCopy.url) Details
          else
            if filterType.length
              p.flex There are no copies for this #{filterType}. Add new record or copy or delete #{filterType}?
              br
              div.flex
                a.btn.light-green(href=`/catalog/record/create`) New record
                a.btn.light-green(href=`/catalog/recordcopy/create`) New copy
                a.btn.light-red(href=`/catalog/${filterType}/${id}/delete`) Delete
            else 
              p.flex There are no record copies.
    
