extends layout

block content
  div(class='layout-grid')
    div(class='side-nav')
      ul
        h3 Genre
        if genres.length
            each genre in genres
               a(href=genre.url) #{genre.name}
        else
          p There are no genres.
      ul 
        h3 Year 
        if years.length
            each year in years
               a(href=`/catalog/year/${year}`) #{year}
        else
          p There are no records.    
      ul
        h3 Format 
        a Single 
        a Album
    div(class='record-grid')
      h1= title
      if recordCopies.length
        ul
          each recordCopy in recordCopies
            a(href=recordCopy.url)
              li
                img(src=recordCopy.record.img, alt='Description of the image')
                p #{recordCopy.record.title}
                p #{recordCopy.record.year}
                p £#{recordCopy.price}
      else
        p There are no records.
    
