extends layout 

block styles  
  link(rel='stylesheet', href='/stylesheets/detail.css')

block content
  div.flex
    h1.detail-title Record Detail
    a.sml-btn.light-green(href=`/catalog/recordcopies/${record._id}`) See copies
  div.detail-grid
    img.detail-img(src=record.img, alt='Description of the image')
    ul.detail-info
      li
        p #[strong Title:] 
        p
          a(href=record.url) #{record.title}
      li 
        p #[strong Artist:] 
        p 
          a(href=record.artist.url) #{record.artist.name}
      li
        p #[strong Tracklist:]
        div
          ol.tracks 
            each track in record.tracklist
              li #{track}
      li 
        p #[strong Genre:] 
        p #{record.genre.name}
      li
        p #[strong Format:]
        p #{record.format.name}
      li
        p #[strong Year Released:]
        p #{record.year}
    if toDelete
      p Are you sure you want to delete #{record.title} by #{record.artist.name}?
      form(method="post")
        input(type='hidden', name='recordid', value=record._id ) 
        div.detail-links
          button.btn.light-red(type='submit') Delete
          a.btn.light-green(href=`/catalog/record/${record._id}`) Cancel
    else  
      div.detail-links
        a.btn.light-green(href=`/catalog/record/${record._id}/update`) Update 
        a.btn.light-red(href=`/catalog/record/${record._id}/delete`) Delete