extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/views/record_create.css')
  block styles

block content
  div.nav
    div.links
        a(href='/catalog/record/create') New Record
        a.focus New Record Copy
        a(href='/catalog/artist/create') New Artist
        a(href='/catalog/genre/create') New Genre 
  form(method='POST')
    h1.form-title New Record Copy
    div.input-group
      label(for='record') Record
      select(name='record' required)
        option(value='') --Please select a record--
        for record in record_list
            option(value=`${record.artist.name}-${record.title}`) #{`${record.artist.name} - ${record.title}`}
    div.input-group
      label Catalog Number 
      input(type='text', name='year', maxlength='12', placeholder='--Please enter the catalog number--', required)
    div.input-group
        label(for='condition') Condition
        select(name='condition' required)
          option(value='') --Please select it's condition--
          option(value="Poor") Poor
          option(value="Fair") Fair
          option(value="Good") Good
          option(value="New") New
    div.input-group
        label Price (£)
        input(type='number', name='price', min='0', step="0.01")
    button.submit-button(type='submit') Submit 