extends layout 

block styles  
  link(rel='stylesheet', href='/stylesheets/detail.css')

block content 
  div.detail-grid
    img.detail-img(src=recordCopy.record.img, alt='Description of the image')
    div.detail-info
      p #[strong Title:] 
        a(href=recordCopy.record.url) #{recordCopy.record.title} 
      p #[strong Artist:] 
        a(href=artist.url) #{artist.name}
      p #[strong Catalog Number:] #{recordCopy.catalogNum}
      p #[strong Condition:] #{recordCopy.condition}
      p #[strong Price:] £#{recordCopy.price}
    if toDelete
      p Are you sure you want to delete this copy of #{recordCopy.record.title} by #{artist.name}?
      form.delete-form(method="post")
        input(type='hidden', name='recordcopyid', value=recordCopy._id ) 
        button.btn.light-red(type='submit') Delete?
        a.btn.light-green(href=`/catalog/recordcopy/${recordCopy._id}`) Cancel
    else  
      div.detail-links
        a.btn.light-green(href=`/catalog/recordcopy/${recordCopy._id}/update`) Update 
        a.btn.light-red(href=`/catalog/recordcopy/${recordCopy._id}/delete`) Delete
      