extends layout 

block styles  
  link(rel='stylesheet', href='/stylesheets/views/detail.css')

block content 
  div.detail-grid
    img.detail-img(src=record.img, alt='Description of the image')
    div.detail-info
      p #[strong Title:] 
        a(href=record.url) #{record.title} 
      p #[strong Artist:] 
        a(href=record.artist.url) #{record.artist.name}
      div
        p #[strong Tracklist:]
        ol.tracks 
          each track in record.tracklist
            li #{track}
      p #[strong Genre:] #{record.genre.name}
      p #[strong Format:] #{record.format.name}
      p #[strong Year Released:] #{record.year}
    div.detail-links
      a.detail-update Update 
      a.detail-delete Delete
    div.copies 
      p #[strong Copies in stock:]
       ul.in-stock 
          each recordCopy in record_copies
            li.detail-copies-in-stock
              img.small-detail-img(src=record.img, alt='Description of the image') 
              p #[strong Catalog Number:] #{recordCopy.catalogNum}
              p #[strong Condition:] #{recordCopy.condition}
              p #[strong Price:] £#{recordCopy.price}
              a.detail-update(href=recordCopy.url) Info